body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.navbar {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 5rem;
}

.navbar-text {
    font-family: 'Merriweather', serif;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    color: var(--bs-body-color);
}

.navbar .btn-outline-light {
    color: white;
    border: 2px solid white;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 8px;
    background-color: transparent;
}

.navbar .btn-outline-light:hover,
.navbar .btn-outline-light:focus,
.navbar .btn-outline-light:active {
    background-color: white;
    color: #2e2e2e;
    border: 2px solid white;
    box-shadow: none;
}

.navbar .btn-outline-light:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(243, 180, 64, 0.7);
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.card-img-top {
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
    filter: brightness(60%);
    transition: filter 0.3s ease-in-out;
}



.card-img-top:hover {
    filter: brightness(100%);
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: var(--btn-body-color);
    padding: 10px;
}

[data-bs-theme="light"] .card-body {
    background: rgba(255, 255, 255, 0.7);
    color: #000;
}

.card-title {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.card-author {
    margin: 0;
    font-size: 0.9rem;
    color: var(--bs-secondary-color);
    font-style: italic;
}

.toggle-link {
    color: var(--bs-secondary-color);
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9rem;
}


.description {
    display: none;
}

.description.show {
    display: block;
}

.btn-light {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border: none;
}

.btn-light:hover {
    background-color: var(--bs-tertiary-bg);
    color: var(--bs-body-color);
}

.manga-card {
    transition: transform 0.3s;
    cursor: pointer;
}

.manga-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}